version: '3.9'
services:
  mlops:
    build: .
    ports:
      - "8000:8000"
      - "8501:8501"
    volumes:
      - ./uploads:/app/uploads
      - ./models:/app/models
    environment:
      - AWS_DEFAULT_REGION=us-east-1
